@model CarRenting.Models.Company

@{
    ViewBag.Title = "Eliminar empresa";
}

<div class="container">
    <div class="log-headers-h2 boxshadow col-md-8 offset-md-2">
        <h2>@ViewBag.Title <i class="fas fa-exclamation-circle text-danger"></i></h2>
    </div>
    <div class="log-headers boxshadow col-md-8 offset-md-2" style="color: red!important">
        <h2>Eliminar um empresa implica a eliminação de todos os os seus utilizadores, veículos, reservas e dados associados. Tem a certeza que quer continuar?</h2>
    </div>
    <div class="jumbotron boxshadow col-md-8 offset-md-2">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NiF)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NiF)
                </dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyPhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompanyCellNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyCellNumber)
                </dd>
            </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="text-center">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-success" })
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
