@model CarRenting.Models.Company

@{
    ViewBag.Title = "Editar Dados da Empresa";
}

<div class="container" style="margin-top: 5vh">
    <div class="boxshadow log-headers-h2 col-md-8 offset-md-2">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="boxshadow log-headers col-md-8 offset-md-2">
        <h4>@Model.CompanyName</h4>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="jumbotron boxshadow col-md-8 offset-md-2">


            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.NiF)

            <div class="col-md-10 offset-1 form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-10 offset-1 form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-10 offset-1 form-group">
                @Html.LabelFor(model => model.CompanyPhoneNumber, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.CompanyPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyPhoneNumber, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-10 offset-1 form-group">
                @Html.LabelFor(model => model.CompanyCellNumber, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.CompanyCellNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyCellNumber, "", new { @class = "text-danger" })
            </div>
            <br/>
            <div class="text-center">
                @Html.ActionLink("Cancelar", "Index", null, new{@class="btn btn-danger"})
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    }

    <div>

    </div>

</div>