@model IEnumerable<CarRenting.Models.Check>

@{
    ViewBag.Title = "Gerir Verificações";
}
<div>
    <h2 class="log-headers-h2 offset-md-2 col-md-8 boxshadow">@ViewBag.Title</h2>

    <table class="table offset-md-2 col-md-8 boxshadow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Categorias
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @foreach (var t in item.CarTypes)
                {

                    @t.Type
                }
                <td>
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <p class="text-center">
        @Html.ActionLink("Voltar", "Index", "CompanyAdminArea", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Criar nova", "Create", null, new { @class = "btn btn-primary" })

    </p>
</div>
