@model IEnumerable<CarRenting.Models.Check>

@{
    ViewBag.Title = "Gerir Verificações";
}
<div>
    <h2 class="log-headers-h2 offset-md-2 col-md-8 boxshadow">@ViewBag.Title</h2>

    <table class="table offset-md-2 col-md-8 boxshadow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Categorias
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @foreach (var t in item.CarTypes)
            {

                <p>@t.Type</p>
            }
    
        <td>
            <a href="@Url.Action("AssociateCarType",new {id = item.Id})" title="Associar/Dissociar a Categorias de Veículos"><i class="fas fa-fw fa-edit text-primary"></i></a>
            <a href="@Url.Action("Delete",new {id = item.Id})" title="Eliminar"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
        }

    </table>
    <p class="text-center">
        @Html.ActionLink("Voltar", "Index", "CompanyAdminArea", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Criar nova", "Create", null, new { @class = "btn btn-primary" })

    </p>
</div>
