@model CarRenting.Models.CarType

@{
    ViewBag.Title = "Editar Categoria";
}
<div class="container">
    <div class="log-headers-h2 boxshadow text-center offset-md-2 col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>


    <div class="boxshadow jumbotron offset-md-2 col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "col-form-label " })
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="text-center">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>

        }
    </div>

   
</div>


