@model IEnumerable<CarRenting.Models.CarType>

@{
    ViewBag.Title = "Gerir Categorias";
    var isModified = TempData["isModified"] as bool?;
    var isCreated = TempData["isCreated"] as bool?;
}

@if (isModified != null)
{

    if(isModified == true)
    {
        <script type="text/javascript">
            $(document).ready(function() {
                toastr.success('Categoria Modificada', 'Operação realizada');
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function() {
                toastr.error('Categoria Não Modificada', 'Operação não realizada');
            });
        </script>
    }

}

@if(isCreated != null && isCreated == true)
{
<script type="text/javascript">
    $(document).ready(function() {
        toastr.success('Categoria Criada', 'Operação realizada');
    });
</script>
}


<div class="log-headers boxshadow">
    <h2>@ViewBag.Title</h2>
</div>

<table class="table boxshadow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new {@class="btn btn-dark", @style="padding:2px"})
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.ActionLink("Voltar", "Index", "AdminArea", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Adicionar nova categoria", "Create", null, new { @class = "btn btn-primary" })

</div>
