@model IEnumerable<CarRenting.Models.CarType>

@{
    ViewBag.Title = "Gerir Categorias";
    var isModified = TempData["isModified"] as bool?;
    var isCreated = TempData["isCreated"] as bool?;
}

@if (isModified != null)
{

    if(isModified == true)
    {
        <script type="text/javascript">
            $(document).ready(function() {
                toastr.success('Categoria Modificada');
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function() {
                toastr.error('Categoria Não Modificada');
            });
        </script>
    }

}

@if(isCreated != null && isCreated == true)
{
<script type="text/javascript">
    $(document).ready(function() {
        toastr.success('Categoria Criada');
    });
</script>
}

<div class="container">
    <div class="log-headers-h2 boxshadow offset-md-2 col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>

    <table class="table boxshadow offset-md-2 col-md-8">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" title="Editar Reserva"><i class="fas text-center fa-fw fa-edit text-primary"></i></a>
                </td>
            </tr>
        }

    </table>

    <div class="text-center">
        @Html.ActionLink("Voltar", "Index", "AdminArea", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Adicionar nova categoria", "Create", null, new { @class = "btn btn-primary" })

    </div>
</div>