@model CarRenting.Models.RegisterCompanyUserViewModel
@{
    ViewBag.Title = "Registar Empresa";
}

@using (Html.BeginForm("RegisterInitCompanyAdmin", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="container">
        @Html.AntiForgeryToken()
        <h2 class="log-headers-h2 boxshadow offset-md-2 col-md-8">@ViewBag.Title</h2>
        <div class="log-headers boxshadow offset-md-2 col-md-8">
            <h4>Dados da Empresa</h4>
        </div>

        <div class=" offset-md-2 col-md-8 jumbotron boxshadow">
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Company.CompanyName, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Company.CompanyName, new { @class = "form-control " })
            </div>
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Company.Email, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Company.Email, new { @class = "form-control" })
            </div>


            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Company.CompanyCellNumber, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Company.CompanyCellNumber, new { @class = "form-control" })
            </div>


            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Company.CompanyPhoneNumber, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Company.CompanyPhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="log-headers boxshadow offset-md-2 col-md-8">
            <h4>Dados do Administrador</h4>

        </div>


        <div class="offset-md-2 col-md-8 jumbotron boxshadow">
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-form-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class=" form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group offset-1 col-md-10">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
               
            </div>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="text-center">
                
                    @Html.ActionLink("Voltar", "Index", "Home", null, new{@class="btn btn-danger"})
                    <input type="submit" class="btn btn-primary" value="Registar"/>
               
            </div>
        </div>

    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
