@model CarRenting.Models.CompanyViewModel


@{
    ViewBag.Title = "Área de gestão da Empresa: ";
}

<h2 style="margin-top: 50px;">@ViewBag.Title @Html.DisplayFor(m => m.Company.CompanyName)</h2>

<p>@Html.DisplayFor(m => m.Company.CompanyName)</p>

<p>@Html.DisplayFor(m => m.ApplicationUser.Name)</p>

@foreach (var e in Model.Company.Employees)
{
    <p>@e.ApplicationUser.Name</p>
}