@model IEnumerable<CarRenting.Models.Car>


@{
    ViewBag.Title = "Gestão de Frota";
}


<div class="log-headers-h2 boxshadow">
    <h2>@ViewBag.Title</h2>
</div>

<table class="table boxshadow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fuel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td> 
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new{@class="btn-primary btn", @style="padding:2px"})
                @Html.ActionLink("Ver", "Details", new { id=item.Id }, new { @class = "btn-info btn", @style = "padding:2px" })
            </td>
        </tr>
    }
</table>
<p class="text-center">
    @Html.ActionLink("Voltar", "Index", "CompanyAdminArea",null, new{@class = "btn btn-danger"})
    @Html.ActionLink("Adicionar Novo Veículo", "Create", null, new{@class = "btn btn-primary"})

</p>
