@using System.Web.Configuration
@model CarRenting.Models.Car

@{
    ViewBag.Title = "Details";
}

<div class="log-headers-h2 boxshadow container col-md-8 offset-md-2" style="margin-bottom: 1vh">
    <h2>Detalhes do Veículo</h2>
</div>
@Html.HiddenFor(model => model.Id)

<div class="jumbotron boxshadow col-md-8 offset-md-2">
    <div class="row">
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.License)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.License)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
        </dl>
        <dl id="top-dl" class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Fuel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fuel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Seats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarImages)
            </dt>
            <dd>
                <div class="modal fade" id="fotosModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content" style="background-color: transparent !important; border: 0px;">
                            <div id="fotos" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    @{
                                        int i = 0;
                                        var sliders = 0;

                                        while (sliders < Model.CarImages.Count)
                                        {
                                            i++;
                                            var olactive = i == 1 ? "active" : "";
                                            <li data-target="#fotos" data-slide-to="@sliders" class="@olactive"></li>
                                            sliders++;
                                        }
                                    }
                                </ol>
                                <div class="carousel-inner" role="listbox">

                                    @{i = 0;}
                                    @foreach (var item in Model.CarImages)
                                    {
                                        i++;
                                        var active = i == 1 ? "active" : "";
                                        <div class="carousel-item fixed-carousel @active" >
                                            <img class="d-block" src="@Url.Content(item.ImagePath)" alt="imagem não encontrada"/>
                                        </div>

                                    }
                                </div>
                                <a class="carousel-control-prev" href="#fotos" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#fotos" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.CarImages.Count > 0)
                {
                    <button type="button" class="btn-info btn" data-toggle="modal" data-target="#fotosModal" style="padding: 0px;font-size: 95%">
                        Ver fotos
                    </button>
                }
                else
                {
                    @:N/A
                }

            </dd>
        </dl>
    </div>
    <br />
    <div class="text-center">

        @if (User.IsInRole(WebConfigurationManager.AppSettings.Get("Cn")))
        {
            <div>
                @Html.ActionLink("Voltar", "CompanyCars", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        }
        else if (User.IsInRole(WebConfigurationManager.AppSettings.Get("An")))
        {
            @Html.ActionLink("Voltar", "Catalog", new { id = Model.Company.Id }, new { @class = "btn btn-danger" })
        }
        else if (User.IsInRole(WebConfigurationManager.AppSettings.Get("Ur")) || !Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Voltar", "Index", "Home", new { @class = "btn btn-danger" })
                @Html.ActionLink("Reservar", "RentVehicle", "Rents", new {carId = Model.Id}, new {@class = "btn btn-primary"})

            </div>
        }
    </div>
</div>


