@using System.Web.Configuration
@model CarRenting.Models.Car

@{
    ViewBag.Title = "Details";
}

<div class="log-headers-h2 boxshadow container col-md-8 offset-md-2" style="margin-bottom: 1vh">
    <h2>Detalhes do Veículo</h2>
</div>
@Html.HiddenFor(model => model.Id)

<div class="jumbotron boxshadow col-md-8 offset-md-2">
    <div class="row">
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.License)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.License)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
        </dl>
        <dl id="top-dl" class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Fuel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fuel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Seats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kms)
            </dd>
        </dl>
    </div>
    <br />
    <div class="text-center">

        @if (User.IsInRole(WebConfigurationManager.AppSettings.Get("Cn")))
        {
            <div>
                @Html.ActionLink("Voltar", "CompanyCars", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        }
        else if (User.IsInRole(WebConfigurationManager.AppSettings.Get("An")))
        {
            @Html.ActionLink("Voltar", "Catalog", new { id = Model.Company.Id }, new { @class = "btn btn-danger" })
        }
        else if (User.IsInRole(WebConfigurationManager.AppSettings.Get("Ur")) || !Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Voltar", "Index", "Home", new { @class = "btn btn-danger" })
                @Html.ActionLink("Reservar", "RentVehicle", "Rents", new {carId = Model.Id}, new {@class = "btn btn-primary"})

            </div>
        }
    </div>
</div>


