@model IEnumerable<CarRenting.Models.Car>


@if (TempData["newCarList"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#newCarList').modal('show');
        });
    </script>
}

@if (TempData["termNorFound"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.error('O termo não foi encontrado');
        });
    </script>
}

<div class="modal fade" id="newCarList" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="label">Veículo indisponível</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger">O veículo que escolheu já está reservado durante a data indicada.</p>
                <p class="text-success">Foi carregada uma lista de veículos da mesma categoria disponíveis na data pedida.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ver veículos</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <h2 class="log-headers-h2 boxshadow col-md-12" style="margin-top: 10vh">
        Lista de Veículos
    </h2>

    <form method="get" action="@Url.Action("Search", "Cars")" class="input-group mb-3 mt-3 col-md-6 offset-md-3">
        @Html.TextBox("term", ViewData["term"], new { @class = "form-control", @placeholder="Marca ou Modelo ou Categoria",@title="São permitidos termos incompletos" })
        <div class="input-group-append">
            <button type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div>
        <table class="table boxshadow col-md-12">
            <tr>
                <th>
                    
                    @Html.DisplayNameFor(model => model.CarImages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.CarImages.Count > 0)
                        {
                            if (TempData["newCarList"] as bool? == true)
                            {
                                <a href="#" type="button" data-toggle="modal" data-target="#detailsModal"><img class="img-thumbnail w-75" src="@Url.Content(item.CarImages.ElementAt(0).ImagePath)" /></a>
                            }
                            else
                            {
                                <div>
                                    <a href="@Url.Action("Details", new {item.Id})"><img class="img-thumbnail w-75" src="@Url.Content(item.CarImages.ElementAt(0).ImagePath)" /></a>
                                </div>
                            }
                        }
                        else
                        {
                            @:N/A
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-info">
                                        <h5 class="modal-title" id="detailsLabel">Detalhes do Veículo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body bg-warning">
                                        <div class="row">
                                            <dl class="dl-horizontal col-md-6">
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Company.CompanyName, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                                </dd>

                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Type.Type, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Type.Type)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.License, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.License)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Brand, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Brand)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Model, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Model)
                                                </dd>
                                            </dl>
                                            <dl id="top-dl" class="dl-horizontal col-md-6">
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Fuel, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Fuel)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.FuelLevel, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.FuelLevel)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Seats, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Seats)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Price, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </dd>
                                                <dt>
                                                    @Html.LabelFor(modelItem => item.Kms, htmlAttributes: new { @class = "text-light" })
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.Kms)
                                                </dd>
                                                <dd style="border-bottom: 0px!important">
                                                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div id="image" class="carousel slide" data-ride="carousel">

                                                                    <ol class="carousel-indicators">
                                                                        @{
                                                                            int i = 0;
                                                                            var sliders = 0;

                                                                            while (sliders < item.CarImages.Count)
                                                                            {
                                                                                i++;
                                                                                var olactive = i == 1 ? "active" : "";
                                                                                <li data-target="#image" data-slide-to="@sliders" class="@olactive"></li>
                                                                                sliders++;
                                                                            }
                                                                        }
                                                                    </ol>
                                                                    <div class="carousel-inner" role="listbox">

                                                                        @{i = 0;}
                                                                        @foreach (var foto in item.CarImages)
                                                                        {
                                                                            i++;
                                                                            var active = i == 1 ? "active" : "";
                                                                            <div class="carousel-item fixed-carousel @active">
                                                                                <img class="d-block" src="@Url.Content(foto.ImagePath)" alt="imagem não encontrada" />
                                                                            </div>

                                                                        }
                                                                    </div>
                                                                    <a class="carousel-control-prev" href="#image" data-slide="prev">
                                                                        <span class="carousel-control-prev-icon"></span>
                                                                    </a>
                                                                    <a class="carousel-control-next" href="#image" data-slide="next">
                                                                        <span class="carousel-control-next-icon"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                               
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-warning">
                                        @if (item.CarImages.Count > 0)
                                        {
                                            <button type="button" class="btn-info btn" data-toggle="modal" data-target="#imageModal">
                                                Ver fotos
                                            </button>
                                        }
                                        else
                                        {
                                            @:N/A
                                        }
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (TempData["newCarList"] as bool? == true)
                        {
                            <i type="button" class="fas fa-fw fa-shopping-cart text-primary" data-toggle="modal" data-target="#confirmModal" title="Reservar Veículo"></i>
                            <i type="button" class="fas fa-fw fa-info text-info" data-toggle="modal" data-target="#detailsModal"></i>

                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-primary text-light">
                                            <h5 class="modal-title" id="confirmTitle">Reservar Veículo?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Tem a certeza que pretende reservar este veículo de @($"{TempData["begin"]:dd/MM/yyyy}") a @($"{TempData["end"]:dd/mm/yyyy}")?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            @Html.ActionLink("Confirmar", "RentVehicleValidDate", "Rents", new { carId = item.Id, begin = (DateTime)TempData["begin"], end = (DateTime)TempData["end"] }, new { @class = "btn-primary btn" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="@Url.Action("RentVehicle", "Rents", new { carId = item.Id })" title="Reservar Veículo"><i class="fas text-center fa-fw fa-shopping-cart text-primary"></i></a>
                                <a href="@Url.Action("Details", "Cars", new { id = item.Id })" title="Detalhes do Veículo"><i class="fas fa-fw fa-info text-info"></i></a>
                            </div>
                        }
                    </td>
                </tr>
            }

        </table>
        <div class="text-center">
            @Html.ActionLink("Atrás", "Index", "Home", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>





