@model CarRenting.Models.ApplicationUser
@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="log-headers-h2 boxshadow offset-md-3 col-md-6">
        <h2>Eliminar Utilizador</h2>
    </div>

    <div class="jumbotron boxshadow offset-md-3 col-md-6">
        @using (Html.BeginForm())
        {
            <dl>
                <dt>
                    Nome
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Telefone
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
            <h4>Tem a certeza que quer eliminar o utilizador?</h4>


            @Html.AntiForgeryToken()

            <div class="text-center">
                @Html.ActionLink("Cancelar", "CompanyEmployees", null, new { @class = "btn btn-danger" })
                <button type="submit" class="btn btn-primary" Style="width: 100px;">Eliminar</button>
            </div>

        }
    </div>

</div>