@model CarRenting.Models.ApplicationUser
@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    ViewBag.Title = "Delete";
}
<div class="log-headers boxshadow offset-1 col-md-10">
    <h2>Eliminar Utilizador</h2>
</div>
<div class="jumbotron boxshadow offset-1 col-md-10">
    <dl>
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
    <h4>Tem a certeza que quer eliminar o utilizador?</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        string user = null;
        if (User.Identity.IsAuthenticated)
        {
            user = HttpContext.Current.GetOwinContext()?.GetUserManager<ApplicationUserManager>()?.FindById(User.Identity.GetUserId())?.Name;
        }

        <div class="row">
            <div class="col-sm-12 text-center">
                @if (Request.IsAuthenticated && user != null)
                {
                    if (User.IsInRole(WebConfigurationManager.AppSettings["Cn"]))
                    {
                        @Html.ActionLink("Cancelar", "CompanyEmployees", "ApplicationUsers", new { @area = "" }, new { @class = "btn btn-danger" })
                        ;
                    }
                    else if (User.IsInRole(WebConfigurationManager.AppSettings["An"]))
                    {
                        @Html.ActionLink("Cancelar", "Index", "ApplicationUsers", new { @area = "" }, new { @class = "btn btn-danger" });
                    }
                    else
                    {
                        Response.Redirect(@Url.Action("Index", "Home") ?? string.Empty);
                    }
                }
                <button type="submit" class="btn btn-primary" Style="width: 100px;">Eliminar</button>
            </div>
        </div>
    }
</div>
