@using System.Web.Configuration
@model CarRenting.Models.UserViewModel

@{
    ViewBag.Title = "Editar Utilizador";
}


<div class="container">
    <div class="boxshadow log-headers offset-md-2 col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Email)

        <div class="jumbotron boxshadow offset-md-2 col-md-8">
            <div class="bg-warning offset-md-1 col-md-10">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>

            <div class="offset-1 col-md-10 form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="offset-1 col-md-10 form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

            </div>
            <div class="offset-1 col-md-10 form-group">
                @Html.LabelFor(m => m.Role, new { @class = "col-form-label" })
                @Html.DropDownListFor(m => m.Role, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })
            </div>
            <br />

            <div class="text-center">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole(WebConfigurationManager.AppSettings["Cn"]))
                    {
                        @Html.ActionLink("Cancelar", "CompanyEmployees", "ApplicationUsers", null, new { @class = "btn btn-danger" });
                    }
                    else if (User.IsInRole(WebConfigurationManager.AppSettings["An"]))
                    {
                        @Html.ActionLink("Cancelar", "Index", "ApplicationUsers", null, new { @class = "btn btn-danger" });
                    }
                    else
                    {
                        Response.Redirect(@Url.Action("Index", "Home") ?? string.Empty);
                    }
                }
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </div>
    }

</div>
