@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model CarRenting.Models.UserEditViewModel

@{
    ViewBag.Title = "Editar Utilizador";
}
<div class="boxshadow log-headers offset-1 col-md-10">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="jumbotron boxshadow offset-1 col-md-10">

        @Html.ValidationSummary( "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="offset-1 col-md-10">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="offset-1 col-md-10">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="offset-1 col-md-10">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-form-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="offset-1 col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Role, new { @class = "col-form-label" })
                <div>
                    @Html.DropDownListFor(m=>m.Role, new SelectList(ViewBag.Roles, "Value", "Text"), new{@class = "form-control"})
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole(WebConfigurationManager.AppSettings["Cn"]))
                    {
                        @Html.ActionLink("Cancelar", "CompanyEmployees", "ApplicationUsers", null, new { @class = "btn btn-danger" });
                    }
                    else if (User.IsInRole(WebConfigurationManager.AppSettings["An"]))
                    {
                        @Html.ActionLink("Cancelar", "Index", "ApplicationUsers", null, new { @class = "btn btn-danger" });
                    }
                    else
                    {
                        Response.Redirect(@Url.Action("Index", "Home") ?? string.Empty);
                    }
                }
                <button type="submit" class="btn btn-primary" Style="width: 100px;">Guardar</button>
            </div>
        </div>
    </div>
}


