@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model IEnumerable<CarRenting.Models.UserDashViewModel>

@{
    ViewBag.Title = "Gestão de Utilizadores";
}

<div class="full-width log-headers">
    <h2>Gestão de Funcionários</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationUser.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationUser.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationUser.Id })
            </td>
        </tr>
    }

</table>

@{
    string user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = HttpContext.Current.GetOwinContext()?.GetUserManager<ApplicationUserManager>()?.FindById(User.Identity.GetUserId())?.Name;
    }
}
<div class="row">
    <div class="col-sm-12 text-center">
        @if (Request.IsAuthenticated && user != null)
        {
            if (User.IsInRole(WebConfigurationManager.AppSettings["Cn"]))
            {
                @Html.ActionLink("Voltar", "Index", "CompanyAdminArea", new { @area = "" }, new { @class = "btn btn-danger" })
                ;
            }
            else
            {
                Response.Redirect(@Url.Action("Index", "Home") ?? string.Empty);
            }
        }
        <button type="submit" class="btn btn-primary" Style="width: 100px;">Eliminar</button>
    </div>
</div>
