@model IEnumerable<CarRenting.Models.Rent>

@{
    ViewBag.Title = "Lista de Alugueres da Empresa";
}


@if (TempData["isConfirmed"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('Aluguer Confirmado');
        });
    </script>
}
<div class="container">
    <div class="log-headers-h2 boxshadow">
        <h2>@ViewBag.Title</h2>
    </div>

    <table class="table boxshadow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.License)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Begin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @if (!item.IsConfirmed)
                    {
                        <a href="@Url.Action("ConfirmRent", "Rents", new { id = item.Id })" title="Confirmar Reserva"><i class="fas fa-fw fa-check-circle text-success"></i></a>

                    }
                    <a href="@Url.Action("Edit", "Rents", new { id = item.Id })"  title="Editar Reserva"><i class="fas text-center fa-fw fa-edit text-primary"></i></a>
                    <a href="@Url.Action("Details", "Rents", new { id = item.Id })"  title="Detalhes da Reserva"><i class="fas fa-fw fa-info-circle text-info"></i></a>
                    <a href="@Url.Action("Delete", "Rents", new { id = item.Id })"  title="Apagar Reserva"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }

    </table>
</div>
