@model IEnumerable<CarRenting.Models.Rent>

@{
    ViewBag.Title = "Veículos para entrega";
}
<div class="boxshadow log-headers-h2">
    <h2>@ViewBag.Title</h2>
</div>

<table class="table boxshadow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.License)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.License)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Begin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.ActionLink("Entregar", "DeliverVehicle", new { id = item.Id }, new { @class = "btn-success btn", @style = "padding:2px" })
            @Html.ActionLink("Receber", "ReceiveVehicle", new { id = item.Id }, new { @class = "btn-primary btn", @style = "padding:2px" })

        </td>
    </tr>
}

</table>
