@model IEnumerable<CarRenting.Models.Rent>

@{
    ViewBag.Title = "Lista de Reservas";
}

<div class="container">
    <div class="boxshadow log-headers-h2">
        <h2>@ViewBag.Title</h2>
    </div>

    @if (TempData["rentSuccess"] as bool? == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.success('Aguarde pela confirmação', 'A reserva foi efectuada');
            });
        </script>
    }


    <table class="table boxshadow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.License)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Begin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Rents", new { id = item.Id })" title="Detalhes da Reserva"><i class="fas fa-fw fa-info text-info"></i></a>
                </td>
            </tr>
        }
    </table>
    <div class="text-center">
        @Html.ActionLink("Atrás", "Index", "Home", null, new { @class = "btn-danger btn" })
    </div>
</div>